.credit-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 760px;
  min-height: 350px;
  border-radius: 30px;
  border: 3px solid #ccc;
  background-color: #0059b3;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}
.holder-name {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.card-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bank-name {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  font-size: 20px;
}

.card-civ {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-280%);
}

.card-validity {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-20%);
}

.poster {
  width: 760px;
  min-height: 380px;
  border: 4px solid #0059b3;
  background-color: #000;
  display: flex;
  flex-direction: column;
  position: relative;
}

.poster-image {
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.image-style {
  width: 350px;
  min-height: 150px;
  border: 4px solid #0059b3;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  top: 50%;
  left: 50%;
  transform: translate(-60%);
  position: absolute;
  color: #0059b3;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.poster-text {
  top: 65%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  color: #ccc;
  font-weight: bold;
  font-size: 20px;
}